data/*
torch_saves/*
events.out.*
*.pyc
scripts/__pycache__/*
*.pt
RapportTIPE_ENS_CERISARA_Nathan.log
RapportTIPE_ENS_CERISARA_Nathan.pytxcode
RapportTIPE_ENS_CERISARA_Nathan.synctex.gz
RapportTIPE_ENS_CERISARA_Nathan.aux
test_tikz1.aux
test_tikz1.log
test_tikz1.synctex.gz
